@use '_reset.scss';
@use '_variables.scss';
@use '_functions.scss';
@use "_mixins.scss";

body{
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgb(64, 66, 75);
  letter-spacing: 0.5px;
}

.svg-inline-icon{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: 0.6875em;
}
